*** Targets ***

probe = FPing

menu = Top
title = Network Latency Grapher
remark = Welcome to the SmokePing website of xxx Company. \
         Here you will learn all about the latency of our network.

+ Local

menu = Local
title = Local Network
#parents = owner:/Test/James location:/

++ LocalMachine

menu = Local Machine
title = This host
host = localhost
#alerts = someloss

+ Hosts

menu = Hosts
title = Hosts

{% for sm_group in smokeping_groups %}  

++ {{sm_group['name']}}

{% for host in sm_group['hosts'] %}

menu = host['menu']
title = host['title']
host = host['host']

{% endfor %}
{% endfor %}



